@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');


/* shared section  */

.ts-paragraph{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
}

.ts-small-title{
    margin-top: 150px;
    margin-bottom: 0px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
}


/* header section  */

.header-section{
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header-list,  .header-follow-us{
    display: flex;
    gap: 30px;
}
.header-title, .follow-us, .header-ul, .footer-title{
    display: flex;
    align-items: center;
}
.header-ul{
    gap: 20px;
}

.header-title, .footer-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;
}
.header-g{
    color: #FF42A5;
}
.header-ul, .follow-us{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
}

.logo{
    width: 85px;
}
.youtube, .facebook{
    width: 30px;
}

.follow-us{ 
    margin-top: 47px;
    padding-left: 25px;
    padding-right: 25px;
    height: 56px;
    gap: 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}


/* main section */
/* top section  */

.top-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ts-content{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 280px;
    text-align: left;
}
.first-img{
    width: 620px;
    height: 590px;
}

.ts-img{
    margin-right: 250px;
}


.ts-title{
    color: #8758F1;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
}


.btn-div{
    margin-bottom: 50px; 

}

.signin-btn{
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF42A5;
    border: 0px;
    border-radius: 50px;
    padding: 15px 35px ;
    

}
.go-btn{
    align-items: center;
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    background-color: #4EC5F7;
    border: 0px;
    border-radius: 50px;
    padding: 15px 35px;
}



/* online games funny video section  */

.online-games-header{
    margin-bottom: 80px; 
}

.online-games{
    text-align: center;
}

.funny-vdo{
    color:  #F948B2;
}

.hvr{
    width: 18%;
}


.hvr:hover .play-btn{
    visibility: visible;
}
.play-btn{
    width: 342px;
    height: 400px;
    border: 5px solid #F948B2;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3C354F;
    color: #FFF;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}
.hvr{
    position: relative;
}



.online-games-img{
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: left;
}




/* third section  */

.third-sec{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 250px;
    padding-left: 250px;
}

.third-sec-img1{
    width: 634px;
    height: 650px;
}

.third-sec-img2{
    position: relative;
    right: 800px;
    top: 75px;
}



/* fourth section  */
    .fourth-sec{
        background-color: rgb(250, 247, 247);
        margin-top: 200px;
        padding: 180px 250px;

    }
    .game-categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 23px;
        
    }
    .category{
        padding: 4px 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        border: 0px;
        border-radius: 50px;
        background: #FFF;
    }
    .category-txt{
        color: #0B0223;
        font-family: Work Sans;
        font-size: 20px;
        font-weight: 600;
    }

    .category:hover{
        border: 2px solid #FF42A5;
    }
    .category-txt:hover{
        color: #F948B2;
    }


    /* footer section  */

    .ftr{
        background-color: #0B0223;
        color: #ffffff;
        align-items: center;
        text-align: center;
        
    }
    .footer-title{
        padding-top: 100px;
        margin: 0px 800px;
    }

    .footer-logo{  
        color: #ffffff;
    }
    .footer-nav{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .terms{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .copyrights{
        padding-bottom: 100px;
    }








/* for mobile devices */

@media screen and (max-width: 576px) {
    .header-section, .header-list,  .top-section, .header-ul, .online-games-img, .third-sec, .footer-nav, .terms, .footer-title{
        flex-direction: column;
    }

    
    .header-section{
        max-width: 100%;
        align-items: center;
    }

    .header-ul, .header-list{
        padding-left: 0px;
        gap: 5px;
    }


    .top-section{
        flex-direction: column-reverse;
    }
    .ts-content, .third-sec{
        padding-left: 25px;
    }
    .first-img{
            width: 220%;
            height: 0%;
            padding-left: 20px;
    }

    .fvr, .third-sec-img1{
        width: 100%;
        height: 100%;
    }
    .online-games-img{
        gap: 50px;
    }
    
    .footer-title{
        margin: 0px;
    }
    .terms{
        gap: 2px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 40px 5px;
    }
    .copyrights{
        padding-bottom: 30px;
    }




    .fourth-sec{
        padding: 80px 10px;
    }
    .game-categories{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .category{
        padding: 1px 8px;
        gap: 2px;
    }
    .category-txt{
        font-size: 8px;
        font-weight: 600;
    }
    .cat-img{
        width: 30%;
    }

}
